<!DOCTYPE html>
<html>

<head>
    <title>Cadastrar Produto</title>
</head>

<body>

    <h1>Novo Produto</h1>

    <form method="POST" enctype="multipart/form-data">

        <label>Código:</label><br>
        <input type="text" name="codigo"><br><br>

        <label>Nome:</label><br>
        <input type="text" name="nome"><br><br>

        <label>Descrição:</label><br>
        <input type="text" name="descricao"><br><br>

        <label>Categoria:</label><br>

        <select name="categoria">

            <option>Ferramentas</option>
            <option>Peças</option>
            <option>Eletrônicos</option>
            <option>Escritório</option>

        </select>

        <br><br>

        <label>Imagem:</label><br>
        <input type="file" name="imagem"><br><br>

        <button type="submit">
            Salvar
        </button>

    </form>

</body>

</html>